<link href="style/global_nav.css?v=20140408" type="text/css" rel="stylesheet"/>
<div class="global-nav">
<div class="global-nav__nav-wrap">
<div class="global-nav__nav-item">
<a href="./" class="global-nav__nav-link">
<i class="global-nav__iconfont global-nav__icon-index">&#xf0001;</i>
<span class="global-nav__nav-tit">首页</span>
</a>
</div>
<div class="global-nav__nav-item">
<a href="/index.php?m=default&c=category&a=all" class="global-nav__nav-link">
<i class="global-nav__iconfont global-nav__icon-category">&#xf0002;</i>
<span class="global-nav__nav-tit">分类</span>
</a>
</div>
<div class="global-nav__nav-item">
<a href="javascript:get_search_box();" class="global-nav__nav-link">
<i class="global-nav__iconfont global-nav__icon-search">&#xf0003;</i>
<span class="global-nav__nav-tit">搜索</span>
</a>
</div>
<div class="global-nav__nav-item">
<a href="/index.php?m=default&c=flow&a=cart" class="global-nav__nav-link">
<i class="global-nav__iconfont global-nav__icon-shop-cart">&#xf0004;</i>
<span class="global-nav__nav-tit">购物车</span>
<span class="global-nav__nav-shop-cart-num" id="carId">0</span>
</a>
</div>
<div class="global-nav__nav-item">
<a href="/index.php?m=default&c=user&a=index" class="global-nav__nav-link">
<i class="global-nav__iconfont global-nav__icon-my-yhd">&#xf0005;</i>
<span class="global-nav__nav-tit">用户中心</span>
</a>
</div>
</div>
<div class="global-nav__operate-wrap">
<span class="global-nav__yhd-logo"></span>
<span class="global-nav__operate-cart-num" id="globalId">0</span>
</div>
</div>

<script type="text/javascript" src="js/zepto.min.js?v=20140408"></script>
<script type="text/javascript">
Zepto(function($){
var $nav = $('.global-nav'), $btnLogo = $('.global-nav__operate-wrap');
//点击箭头，显示隐藏导航
$btnLogo.on('click',function(){
if($btnLogo.parent().hasClass('global-nav--current')){
navHide();
}else{
navShow();
}
});

var navShow = function(){
$nav.addClass('global-nav--current');
}

var navHide = function(){
$nav.removeClass('global-nav--current');
}

$(window).on("scroll", function() {
if($nav.hasClass('global-nav--current')){
navHide();
}
});
})
function get_search_box(){
try{
document.getElementById('get_search_box').click();
}catch(err){
document.getElementById('keywordfoot').focus();
}
}
</script> 
<nav id="menu" style="display:None">
<ul>
<li> <a href="/index.php?m=default&c=category&a=index&id=9"> ECSHOP模板 </a>
<ul>
<li> <a href="/index.php?m=default&c=category&a=index&id=4"> 综合通用 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=2"> 家电数码 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=1"> 服装鞋包 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=3"> 英文外贸 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=10"> 美容护肤 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=7"> 食品保健 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=11"> 珠宝饰品 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=12"> 鲜花礼品 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=8"> 团购模板 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=44"> 系统软件 </a>
<ul>
</ul>
</li>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=6"> ECSHOP免费模板 </a>
<ul>
<li> <a href="/index.php?m=default&c=category&a=index&id=14"> 综合通用 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=15"> 家电数码 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=16"> 服装鞋帽 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=17"> 英文外贸 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=18"> 美容护肤 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=19"> 食品保健 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=20"> 珠宝饰品 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=21"> 鲜花礼品 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=22"> 团购模板 </a>
<ul>
</ul>
</li>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=23"> ECSHOP插件 </a>
<ul>
<li> <a href="/index.php?m=default&c=category&a=index&id=24"> 收费插件 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=25"> 免费插件 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=45"> 手机端插件 </a>
<ul>
</ul>
</li>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=26"> 客户案例 </a>
<ul>
<li> <a href="/index.php?m=default&c=category&a=index&id=28"> 模板案例 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=29"> 定制案例 </a>
<ul>
</ul>
</li>
<li> <a href="/index.php?m=default&c=category&a=index&id=43"> 手机端案例 </a>
<ul>
</ul>
</li>
</ul>
</li>
</ul>
</nav>

<div id="main-search" class="main-search">
<div class="hd"> <span class="ico_08 close"> 关闭 </span> </div>
<div class="bd">
<div class="search_box">
<form action="/index.php?m=default&c=category&a=index" method="post" id="searchForm" name="searchForm">
<div class="content">
<input class="text" type="search" name="keywords" id="keywordBox" autofocus />
<button class="ico_07" type="submit" value="搜 索" onclick="return check('keywordBox')"></button>
</div>
</form>
</div>
</div>
</div>
<script type="text/javascript">
window.onload = function(){
$('#menu').css('display','');
}
$(function() {
$('nav#menu').mmenu();
$('#get_search_box').click(function(){
$(".mm-page").children('div').hide();
$("#main-search").css('position','fixed').css('top','0px').css('width','100%').css('z-index','999').show();
})
$("#main-search .close").click(function(){
$(".mm-page").children('div').show();
$("#main-search").hide();
})
});
</script>