<script type="text/javascript" src="js/jquery.min.js" ></script> 
<script type="text/javascript" src="js/jquery.json.js" ></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/jquery.more.js"></script>
<script type="text/javascript" src="js/utils.js" ></script>
<script type="text/javascript" src="js/TouchSlide.js"></script>
<script type="text/javascript" src="js/ectouch.js"></script>
<link href="style/xinyu_common.css" rel="stylesheet" type="text/css" />